<!DOCTYPE HTML>
<html lang='en'>
<head>
	<meta charset="UTF-8">
	<title>Create a New Show</title>
	<meta name='description' content='Form to add a new show'>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css' integrity='sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l' crossorigin='anonymous'>
</head>
<body>
    <nav class='navbar navbar-expand-lg navbar-light bg-light p-2'>
        <h1 class="display-3">Create a Show!</h1>
        <button type="button" class="btn btn-outline-primary"><a href="/dashboard">TV Shows</a></button>
        <button type="button" class="btn btn-outline-primary"><a href='/'>Logout</a></button>
    </nav>
    <div class ='container'>
        <form action='/create' method='POST'>
            {% csrf_token %}
            <div class='form-group'>
                <label for='title'>Title</label>
                <input type='text' id='title' name='title' class ='form-control'>
            </div>
            <div class='form-group'>
                <label for='network'>Network</label>
                <input type='text' id='network' name='network' class ='form-control'>
            </div>
            <div class='form-group'>
                <label for='release_date'>Release Date</label>
                <input type='Date' id='release_date' name='release_date' class ='form-control'>
            </div>
            <div class='form-group'>
                <label for='description'>Description</label>
                <textarea name='description' id='description' cols='30' rows='10' class='form-control'></textarea>
            </div>
            {% if messages %}
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            {% endif %}
            <button typw='button' class='btn btn-outline-primary'>Add</button>
        </form>
    </div>
</body>
</html>